xterm*faceName: xft: Droid Sans Mono
xterm*faceSize: 11
xterm*saveLines: 2000
xterm*foreground: white
xterm*background: black
xterm*color4: purple
xterm*color12: mediumorchid
xterm*color5: royalblue
xterm*color13: dodgerblue
